.navbar-main {
  height: 50px;
  width: 100%;
  position: fixed;
  background: #2c2b3f;
  z-index: 1000;
}

.navbar-left-side {
  float: left;
  display: flex;
  font-size: 19px;
}

.navbar-right-side {
  float: right;
  display: flex;
  font-size: 19px;
}

.nav-text {
  color: rgb(255, 255, 255)!important;
  font-variant: small-caps;
  text-transform: lowercase;
}

.ant-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-top: 7px;
  border-radius: 50%;
  background: #2c2b3f;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.ant-card-meta-title {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 17px;
  margin: 0px!important;
}

