.reviews-list {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 300px;
    background: #2c2b3f;
    border-radius: 10px;
    margin: 10px 0px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.name-group {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}

.name-tag {
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.ant-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    border-radius: 50%;
    background: #d56a6a;
    width: 40px;
    height: 40px;
}

.rating {
    color: #f3d779;
    font-size: 20px;
}

.review-description {
    color: #ffffff;
    font-weight: 400;
    margin: 0px 30px;
}

.review-details {
    margin: 0px 30px;
    align-items: center;
    color: #8c8aa7;
}

.details-div {
    display: flex;
    justify-content: space-between;
}

.share-group {
    display: flex;
    padding: 8px;
    border: 1px solid #1f1e2d;
    border-radius: 5px;
    cursor: pointer;
}

.edit-text {
    font-size: 25px;
    margin: 0;
    padding-bottom: 10px;

}

