.login-page {
  background-color: white;
  background-image: url("../img/01.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  width:100%;
}

.form-box{
  width:380px;
  height:450px;
  background: #2c2b3f;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  opacity:0.9;
  border-radius:2%;
}

.register-form {
  height:550px;
}

.header-form {
  margin-bottom:15px;
}

.form-button {
  margin-top:40px;
  margin-bottom:10px;
  background-color: white !important;
  color: #2c2b3f;
  font-weight: 500;
}

.form-button  {
  margin-top:40px;
  margin-bottom:10px;
  background-color: white !important;
  color: #2c2b3f!important;
  font-weight: 500;
}

.btn-secondary:hover .form-button:hover {
  margin-top:40px;
  margin-bottom:10px;
  color: #2c2b3f!important;
  background-color: #aaa8c2;
  font-weight: 500;
}

.message {
  display:flex;
  justify-content:space-between;
}

.message-password {
  color: white;
}

.message-password:hover {
  color: #aaa8c2;
}

.input-group-text {
  padding: 10px!important;
  width: 33px;
}

.form-control:focus {
  border-color: none!important;
  box-shadow: none!important;
}

.input-group-prepend {
  margin-right: 5px!important;
}

.fa-user-circle, .fa-user-plus{
  color: white;
}